@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Inter&display=swap');

$primary-font: 'Comorant', serif;
$secondary-font: 'Inter', sans-serif;

$color-white: #ffffff;
$color-black: #000000;


* { 
    padding: 0;
    
    box-sizing: border-box;
    line-height: 1.5;

}
